pyyaml>=5.1
tensorboard
pycocotools~=2.0.7
pyclipper~=1.3.0.post5
Polygon3
colorlog
ocrd-fork-pylsd==0.0.3
einops==0.2.0
prefetch_generator==1.0.1
imgaug==0.4.0
lmdb==1.4.1
transformers==4.33.2
torchnet~=0.0.4
gdown==3.13.0
webcolors~=1.13
pandas_profiling

opencv-python~=4.8.0.76
numpy~=1.23.5
matplotlib~=3.8.0
pandas==2.1.1
Pillow~=10.0.1
tqdm~=4.66.1
requests~=2.31.0
six~=1.16.0
scipy~=1.11.2
scikit-image~=0.21.0
scikit-learn~=1.3.1
